.top-bar
  background-color: $nav-background-color
  color: $nav-text-color

  ul
    background-color: transparent

  .menu-text
    a
      display: inline
      padding: 0


a
  color: $link-color
  
  &.active
    color: $link-color-active
    font-weight: 700
